$color-primary: #576061;
$color-text: #a9b0b0;
$darkslategray: #3b4445; // card color

* {
  font-family: "Baloo Chettan 2", cursive;
}

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px
);

@mixin elem($name) {
  @at-root #{&}__#{$name} {
    @content;
  }
}

@mixin mod($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    @media screen and (min-width: $value) {
      @content;
    }
  }
}

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
