.nav {
  background-color: transparent;
  margin: 2em;
  height: 10vh;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include elem(item) {
    margin-right: 1em;
    margin-left: 1em;
  }
}

.font {
  &-8 {
    font-weight: font-mul(8);
  }

  &-large {
    font-size: 130%;
  }
  &-bolder {
    font-weight: bolder;
  }
}

.search {
  background-color: $darkslategray;
  color: $color-text;
  padding: 0.2em;
  border-radius: 0.6em;
  @include elem(item) {
    background-color: $darkslategray;
    border: none;
    font-weight: font-mul(6);
    font-size: 105%;
    margin-left: 0.5em;
    &:hover {
      border: none;
    }
  }
}

.img {
  vertical-align: bottom;
}

.hero {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  @include elem(text) {
    font-size: 4rem;
  }
  @include elem(item) {
    margin: 0.3em;
  }
}
